
/* ==================================
== Bubble left
** ================================== */

.bubble-left {
	position: relative;
	width: 90%;
	margin-left: 5px;
	min-height: 100px;
	padding: 0px;
	background: #f0f0f0;
	border-bottom-style: solid;
	border-bottom-color: #3d49a8;
	background-color: #ffffff;
	border-width: 2px;
}

.bubble-left-avatar img {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 48px;
	height: auto;
}

.author-left p {
  font-weight: bold;
  position: absolute;
  left: 60px;
  top: 7px;
}

.time-left p {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #616161;
}


/* ==================================
== Bubble right
** ================================== */

.bubble-right {
	position: relative;
	margin-right: 5px;
	margin-left: 10%;
	width: 90%;
	min-height: 100px;
	padding: 0px;
	background: #f0f0f0;
	border-bottom-style: solid;
	border-bottom-color: #cc3333;
	background-color: #ffffff;
	border-width: 2px;
}

.bubble-right-avatar img {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 48px;
	height: auto;
}

.bubble-right p {

}


.author-right p {
  font-weight: bold;
  position: absolute;
  right: 60px;
  top: 7px;
}

.time-right p {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #616161;
}


