
/* ===================================
== Bubble left
** =================================== */

.bubble-left {
  position: relative;
  width: 90%;
  margin-left: 5px;
  min-height: 100px;
  padding: 0px;
  background: #282828;
  border-bottom-style: solid;
  border-bottom-color: #3d49a8;
  border-width: 2px;
}

.bubble-left-avatar img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 48px;
  height: auto;
}

.author-left p {
  font-weight: bold;
  position: absolute;
  left: 60px;
  top: 7px;
  font-size: 130%;
}

.time-left p {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #a0a0a0;
  font-size: 100%;
}


/* ===================================
== Bubble right
** =================================== */

.bubble-right {
  position: relative;
  margin-right: 5px;
  margin-left: 10%;
  width: 90%;
  min-height: 100px;
  padding: 0px;
  background: #282828;
  border-bottom-style: solid;
  border-bottom-color: #cc3333;
  border-width: 2px;
}

.bubble-right-avatar img {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 48px;
  height: auto;
}

.bubble-right p {

}

.author-right p {
  font-weight: bold;
  position: absolute;
  right: 60px;
  top: 7px;
  font-size: 130%;
}

.time-right p {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #a0a0a0;
  font-size: 100%;
}



li {
  color: white;
}

/* ===================================
== Link
** =================================== */

/* unvisited link */
a:link {
    color: #086eb9;
}

/* visited link */
a:visited {
    color: #569bce;
}

/* mouse over link */
a:hover {
    color: #086eb9;
}

/* selected link */
a:active {
    color: #086eb9;
}