/* ===================================
== Bubble left
** =================================== */

.bubble-left {
  position: relative;
  width: 90%;
  margin-left: 5px;
  min-height: 100px;
  padding: 0px;
  background: #282828;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-color: #3d49a8;
}

.bubble-left-avatar img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 48px;
  height: auto;
}

/* ===================================
== Bubble right
** =================================== */

.bubble-right {
  position: relative;
  margin-right: 5px;
  margin-left: 10%;
  width: 90%;
  min-height: 100px;
  padding: 0px;
  background: #282828;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-color: #cc3333;
}

.bubble-right-avatar img {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 48px;
  height: auto;
}

.bubble-right p {

}

/* ===================================
== Link
** =================================== */

/* unvisited link */
a:link {
    color: #086eb9;
}

/* visited link */
a:visited {
    color: #569bce;
}

/* mouse over link */
a:hover {
    color: #086eb9;
}

/* selected link */
a:active {
    color: #086eb9;
}